@font-face {
  font-family: "Ubuntu"; /* Имя шрифта */
  src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu-Light"; /* Имя шрифта */
  src: url(fonts/Ubuntu-Light.ttf); /*Путь к файлу со шрифтом */
  /* src: url(fonts/Tahoma-Regular.ttf); /*Путь к файлу со шрифтом */ */
}

body {
	background: #FFF;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* input{
	outline: none;
} */

hr {
	width: 100%;
	border: solid 3px #f7f7f7;
}

/* .equal, .equal > div[class*='col-md-4'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
} */

/* .vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
 */
/*  .row-flex {
    display: flex;
    flex-flow: row wrap;
} */

.dash {
  border: 0;
  border-bottom: 1px dashed #ccc;
  padding: 1px;
} 

/* Стили для header */

/*nav*/
.navbar-header {
	height: 80px;
}

.navbar {
	margin-bottom: 0;
}

.nav {
	padding-top: 20px;
}

.trans {
	color: #666;
	/* font-family: Georgia; */
	font-family: Ubuntu;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	text-align: center;
	/* text-transform: uppercase; */
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    /* background: #786b59; Цвет фона под ссылкой  */
    color: #0096c1
}

.menu-span {
	color: #b7b7b7;
	/* font-family: Tahoma; */
	font-family: Ubuntu-Light;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px; 
	text-transform: capitalize;
}

 
.logo_min {
	width: 80%; 
} 

/* 
@media only screen and (max-width : 1200px) {
.logo_min {
	width: 60%; 
	margin-right: 0;
	}
}
	
@media only screen and (max-width : 992px) {
.logo_min {
	width: 50%; 
	margin-right: 0;
	}
} */

/* Стили для slider */

.slider_bg {
	/* height: 342px; */
	/* height: 342px; */

	background-image: linear-gradient(to top, #333 0%, #151515 100%);
	/* width: 1600px; */
	/* margin: 0; */
}

/* .pad_slide {
	padding-left: 0;
	padding-right: 0;
} */

	/* Style for block_images */
	
.panel_p {
	text-align: justify;
	
}

.panel_p.text-left {
	/* padding-top: 8px; */
}

.btn.btn-default {
	margin-bottom: 20px;
	outline: none;
}

.glyphicon.glyphicon-arrow-right {
	margin-left: 20px;
}

.panel {
	padding: 10px;
}

/* .panel_h {
	text-align: left;
} */

/* Social Connection */

/* .social_img {
	width: 15%;
} */

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: inline-block;
}

.thumbnail {
	padding: 8px;
} 

.form-group input {
	margin-bottom: 15px;
	width: none;
}

.form-control {
	resize: none;
}

textarea.form-control {
	height: 188px;
}

	/* Style for footer */
	
.footer {
	/* height: 188px; */
	background: rgb(51, 51, 51);
	border-top: outset 5px #4c4c4c;
}

.navbar .navbar-default .footer {
	/* height: 188px; */
	background: rgb(51, 51, 51);
	border-top: outset 10px #4c4c4c;
}

.power {
	color: #3895EC;
	margin-top: 15px;
}

.n_foot {
	padding-top: 0;
}